.row {
  @mixin clearfix;


  &--gutters {
    margin-right: -60px;
  }

  &--gutters > div {
    padding-right: 60px;
  }

  &--gutters-footer {
    margin-right: -60px;

    @mixin atMedium {
      margin-right: -35px;
      text-align: center;
    }
    @mixin atSmall {
      margin-right: -25px;
      text-align: center;
    }
  }

  &--gutters-footer div {
    padding-right: 60px;
    @mixin atMedium {
      padding-right: -35px;
      text-align: center;
    }
    @mixin atSmall {
      padding-right: -25px;
      text-align: center;
    }
  }

  &--gutters-footer > div:nth-child(2) {
    width: 25%;
    text-align: center;
    @mixin atMedium {
      width: 50%;
    }
    @mixin atSmall {
      width: 100%;
    }
  }



  &--gutters-small {
    margin-right: -24px;
  }

  &--gutters-small > div {
    padding-right: 24px;
  }

  &__no-m{
    margin: 0;
  }

  &__large-4 {
    float: left;
    width: 33.33%;
  }
  &__large-3 {
    float: left;
    width: 25%;
  }
  &__large-2 {
    float: left;
    width: 18.75%;
  }

  &__large-1 {
    float: left;
    width: 8.33%;
  }


  @mixin atMedium {
    &__medium-6 {
      float: left;
      width: 50%;
    }

  }

  @mixin atSmall {
    &--gutters {
      margin-right: 0;
    }

    &--gutters > div {
      padding-right: 0;
    }
    &__small-12 {
      float: left;
      width: 100%;
    }
  }
  
  /* Begin Equal Height Rules */
  .flexbox &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }

  }

  .flexbox &--equal-height-at-large {
    @mixin atLarge {

      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }

  }

}